@if(question(); as question) {
  <h1>
    Question: What do you get when you add
    @for (color of question.caption; track color) {
      @if($index > 0) {
        @if ($last) {
          and 
        } @else {
          , 
        }
      }
  
      {{color | colorName}}
      <span class="color-item" [style.background]="color"></span>
    }
    ?</h1>
  <mat-radio-group [(ngModel)]="userAnswer">
    @for(answer of question.answers; track answer) {
    <div class="answer">
      <mat-radio-button [value]="$index" [color]="'primary'" 
        [disabled]="submittedAnswer() !== null">
        {{ $index + 1 }}. {{ answer | colorName }}
        </mat-radio-button>
        <span class="color-item" [style.background]="answer|lowercase"></span>
  
      @if(isAnswered()) { @if ($index === question.correctIndex) {
      <div class="green-theme">
        <mat-icon class="green-theme" color="primary">check</mat-icon>
      </div>
      } @else {@if ($index === submittedAnswer()) {
      <div class="green-theme">
        <mat-icon class="green-theme" color="warn">close</mat-icon>
      </div>
  
      }} }
    </div>
    }
  </mat-radio-group>
  
  <button
    mat-raised-button
    [disabled]="!canSubmit()"
    color="primary"
    (click)="submit()"
  >
    Submit
  </button>
  
}
